button:hover{
    cursor: pointer;
}

body{
    display: flex;
    align-items: center;
    flex-direction: column;
}
h1{
    color: blueviolet;
}
.buttons{
    margin: 20px;
    display: flex;
    flex-direction: row;
}
.invitacion{
    height: 2000px;
    position: absolute;
    display: none;
    width: 100%;
    background-color: red;
}

#btn_si{
    margin: 0px 10px 0px 0px ;
    background-color: cadetblue;
    border-color: cadetblue;
    color: azure;
    font-size: xx-large;
    padding: 32PX;
    text-align: center;
    border-radius: 2px;
}